.imagen1{ position:absolute;
		top:50px;
		left:100px;}


.imagen2{ position:absolute;
		top:50px;
		left:250px;}


.imagen3{ position:absolute;
		top:50px;
		left:400px;}


.imagen4{ position:absolute;
		top:200px;
		left:100px;}


.imagen5{ position:absolute;
		top:200px;
		left:250px;}


.imagen6{ position:absolute;
		top:200px;
		left:400px;}


.imagen7{ position:absolute;
		top:350px;
		left:100px;}


.imagen8{ position:absolute;
		top:350px;
		left:250px;}


.imagen9{ position:absolute;
		top:350px;
		left:400px;}


.imagen0{ position:absolute;
		top:500px;
		left:250px;}






.suma{ position:absolute;
		top:240px;
		left:650px;}


.resta{ position:absolute;
		top:240px;
		left:900px;}


.por{ position:absolute;
		top:365px;
		left:650px;}


.divisor{ position:absolute;
		top:365px;
		left:900px;}


.borrar{ }


.igual{ }


#total{font-size:50px;
	left:40px;
margin-left: 620px;
}

* {
	font-family: cursive;
}
